{% extends 'base.html' %}

{% block article_detail %}

    <a href="{% url 'article-list' %}">Home</a>

    <p>{{ article.title }}</p>
    <p>{{ article.text }}</p>

    <p>Comments</p>
    {% for comment in comments %}
        <li>{{ comment.comment }} -- {{ comment.date_add|date }} -- {{ comment.user|capfirst }}</li>
    {% endfor %}

    <form action="." method="post">
        <p>Add comment</p>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

{% endblock %}